# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gatsby files
.cache/
public/

# Misc
.DS_Store
.env
.env.* 

# VS Code
.vscode/

# OS-specific files
Thumbs.db
*.swp
.sass-cache/

# Build output
build/

# IDE specific files
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# GitHub Actions
# Ignore Gatsby cloud preview environment cache
**/.github/*
