@import "breakpoints";

.countdown {
  display: flex;

  .label {
    display: none;
    font-size: 0.875rem;
    color: #333;
    line-height: 1.29;
    letter-spacing: 0.4px;

    @media (min-width: 600px) {
      display: block;
    }
  }

  .counter {
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: green;
    margin-left: 5px;
  }
}
