* {
  box-sizing: border-box;
}

html {
  /* Setting the root font size to 16px */
  /* This means 1rem will equal 16px throughout the document */
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #fbfaf9;
}
